div {
  background-color: grey;
  margin-top: 10px;
}
input {
  margin-top: 10px;
  width: 200px;
}
.main {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div {
    border-radius: 5px;
    height: 30px;
    width: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
